<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 启用注解扫描 -->
    <context:component-scan base-package="cn.edu.lingnan.service.imp"/>
    <context:component-scan base-package="cn.edu.lingnan.aspect"/>

    <!-- 启用AOP注解 -->
    <aop:aspectj-autoproxy/>

    <!-- 配置数据源 -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/javaweb_db?useSSL=false&amp;serverTimezone=UTC&amp;characterEncoding=UTF-8"/>
        <property name="username" value="root"/>
        <property name="password" value="123456"/>
    </bean>

    <!-- 配置SqlSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>

    <!-- 配置SqlSessionTemplate -->
    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>

    <!-- 配置事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 启用注解事务 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!-- Student模块使用property属性注入 -->
    <bean id="studentService" class="cn.edu.lingnan.service.imp.StudentServiceImp">
        <property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
    </bean>

    <!-- Course模块使用自动装配 -->
    <bean id="courseService" class="cn.edu.lingnan.service.imp.CourseServiceImpSpring" autowire="byType"/>
    <bean id="courseMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="cn.edu.lingnan.mapper.CourseMapper"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean id="departmentMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="cn.edu.lingnan.mapper.DepartmentMapper"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>

    <!-- Department模块 -->
    <bean id="departmentService" class="cn.edu.lingnan.service.imp.DepartmentServiceImp">
        <property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
    </bean>

    <!-- Job模块 -->
    <bean id="jobService" class="cn.edu.lingnan.service.imp.JobServiceImpMapper">
        <property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
    </bean>

    <!-- Item模块 -->
    <bean id="itemService" class="cn.edu.lingnan.service.imp.ItemServiceImpMapper">
        <property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
    </bean>

</beans>